body{
    background-color: black;
}
h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 4rem;
    text-align:center;
    color: rgb(20, 204, 149);
    text-transform: uppercase;
}

h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 3rem;
    text-transform: uppercase;
    
}
img {
    border: 5px solid white;
    width: 400px;
}
p {
    text-align: center;
    color: white;
    font-size: 25px;
}
div {
    width: 50%;
    margin-left: 25%;
    margin-top: 130px;
    color: white;
    text-align:center;
    position:sticky;
}
