body{
    background-color: black;
}
h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 3rem;
    text-align:center;
    color: rgb(125, 226, 196);
    text-transform: uppercase;
}

h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
    margin: 10px;
    text-transform: uppercase;

}
img {
    border: 5px solid white;
    width: 400px;
    height: 500px;
    object-fit: cover;
}
p {
    text-align: center;
    color: white;
    font-size: 25px;
    margin: 10px;
    
}
div {
    width: 50%;
    margin-left: 25%;
    margin-top: 130px;
    color: white;
    text-align:center;
    position:sticky;
}
