body{
    background-color: black;
}
h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 3rem;
    text-transform: uppercase;
    
}
img {
    border: 5px solid white;
    width: 400px;
}
p {
    text-align: center;
    color: white;
    font-size: 25px;
}
div {
    width: 50%;
    margin-left: 25%;
    margin-top: 130px;
    margin-bottom: 100px;
    color: white;
    text-align: center;
    position: sticky
    
}
